@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    
    transition: 0.2s linear;
  }
  :root {
    --primary-color:#14213D ;
    --white: #fff;
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --gray: #808080;
    --light-gray: #eee;
  }
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7.5rem;
  }
  
  section {
    padding: 5rem 9%;
  }
  header img{
    height: 100px;
    cursor: pointer;
  }
  
  .heading {
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 3rem;
    text-align: center;
    position: relative;
    padding-bottom: 2rem;
    padding-top: 20rem;
    color: black;
  }
  #preloader{
    background:  #ffffff url(images/gif.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  .heading::after {
    content: '';
    position: absolute;
    border-bottom: 0.2rem solid var(--primary-color);
    width: 10rem;
    bottom: 1rem;
    left: 50%;
    display: inline-block;
    margin-left: -5rem;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    z-index: 100;
    background-color: #000;
  } 
  .header.active {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: var(--box-shadow);
  }
  .header .logo {
    font-size: 3rem;
    color: var(--white);
    letter-spacing: 0.5rem;
    margin-right: auto;
  }

  ul li{
    font-size: 20px;
  }
  
  .header .navbar a {
    font-size: 2rem;
    color: var(--white);
    margin-left: 6rem;
    font-weight: 300;
  }
  
  
  .header .menu {
    font-size: 2.5rem;
    color: var(--white);
    cursor: pointer;
    display: none;
  }
  .about .box-container .box img {
    width: 100%;
    height: 70%;
    border-radius: 30px;
    object-fit: cover;
    padding-top: 20rem;
  }
  
  .about .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
  }
  
  .about .box-container .box p {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    letter-spacing: 0.1rem;
    color: black;
    text-overflow: none;
  }
  .liste{
    margin-top: -25rem;
    background-color: var(--light-gray);
  }
  .liste .box-container .box img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    padding-top: 5rem;
  }
  
  .liste .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
  }
  .liste .box-container h2{
    margin-top: -15rem;
  }
  
  .liste .box-container .box li {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    letter-spacing: 0.1rem;
    color: black;
    text-overflow: none;
  }
  .team {
    background: rgb(20,33,61);
background: linear-gradient(90deg, rgba(20,33,61,1) 35%, rgba(255,126,0,1) 100%);
    
  }
  .team h2{
    color: white;
  }
  .team .box-container .box{
    width: 34rem;
    height: 36rem;
    
  }

  .team .box-container .box .image {
    height: 15rem;
    overflow: hidden;
    margin-bottom: 2rem;
  }
  
  .team .box-container .box .image img {
    width: 40%;
    height: 87%;
    margin-left: 11rem;
    margin-top: 2rem;
    border-radius: 100px;
    object-fit: cover;
  }
  
  .team .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    
  }
  
  .team .box-container .box {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(255, 255, 255, 0.192);
  }
  .team h2{
    margin-top: -15rem;
  }
  
  .team .box-container .box .info {
    text-align: center;

  }
  
  .team .box-container .box .info h3 {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
  }
  .team .box-container .box .info ion-icon {
    font-size: 3.5rem;
    color: #14213D;
    margin-bottom: 1rem;
    cursor: pointer;
    margin-left: 2rem;
  }
  .team .box-container .box .info ion-icon:hover {
    font-size: 3.5rem;
    color: white;
    background-color: #14213D;
    border-radius: 15px;
    margin-bottom: 1rem;
    cursor: pointer;
    margin-left: 2rem;
  }
  
  .team .box-container .box .info p {
    font-size: 1.7rem;
    padding: 1.5rem;
    line-height: 2;
    margin-bottom: 2rem;
    letter-spacing: 0.1rem;
    color: var(--gray);
    transform: none;
  }
  
  .team .box-container .box .image img:hover {
    transform: scale(1.1);
  }

  
  
  .footer {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    border-top: 0.2rem solid var(--light-gray);
  }
  
  .footer .socials img{
    height: 100px;
    color: var(--primary-color);
    padding: 1rem;
    margin-right: 1.5rem;
    cursor: pointer;
    margin-top: -5rem;
  }
  
  .footer .socials ion-icon:hover {
    background-color: var(--primary-color);
    color: var(--light-gray);
  }
  
  .footer .copyright p {
    font-size: 1.5rem;
    margin-top: -1rem;
  }
  @media (max-width: 1200px) {
    .header {
      padding: 2rem;
    }
  
    section {
      padding: 3rem 2rem;
    }
  }
  
  @media (max-width: 991px) {
    html {
      font-size: 60%;
    }
  }
  
  @media (max-width: 768px) {
    .header .navbar {
      position: fixed;
      top: 7rem;
      left: 0;
      right: 0;
      background-color: var(--white);
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: var(--box-shadow);
      transform: translateX(-90rem);
    }
  
    .header .navbar.show {
      transform: translateX(0);
    }
  
    .header .menu.rotate {
      transform: rotate(90deg);
    }
  
    .header .navbar a {
      color: #000;
      margin: 0;
      font-size: 2rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  
    .header .menu {
      display: block;
    }
  
    .home h1 {
      font-size: 6rem;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 55%;
    }
      .about .box-container .box p{
      font-size: 10px; }
    .liste .box-container .box .heading{
      margin-top: -18rem;
    }
    .about .box-container .box img{
      display: none;
    }
    .liste {
      margin-top: -5rem;
    }
    .liste .box-container .box ul{
      margin-left: 4rem;
    }
    .liste .box-container .box img{
      display: none;
    }
    .home h1 {
      font-size: 4rem;
    }
    .team{
      background: #14213D;
    }
    .team .box-container .box{
      margin-left: 2.5rem;
    }
    .footer .copyright p{
      font-size: 8px;
    }
  }
  @media (max-width: 420px) {
    .team .box-container .box{
      margin-left: 4rem;
    }
  }
  @media (max-width: 380px) {
    .team .box-container .box{
      margin-left: 3rem;
    }
  }
  @media (max-width: 365px) {
    .team .box-container .box{
      margin-left: 2rem;
    }
  }

  
